@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Poppins:wght@300&display=swap');


.contact{
    padding: 50px 100px;
    display:flex;
    justify-content: center;
    justify-content: space-between;
}

.contact .info h2{
    color: #008E64;
    font-weight:bold;
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact .info p{
    color:black;
    font-family:'Poppins', sans-serif;
    font-size: large;
}

.contact .container{
    color:#008E64;
    font-family: 'Poppins', sans;
}

.contact .container .box #icon{
    size:40px;
}